{{ define "main" }}


<p>
<img src="images/blank.jpg">
<img src="images/alumni.jpg">
<p>

<table>

    <tr valign="top">
        <td width=175></td>
        <td width=225><i><strong>name</strong></i></td>
        <td width=225><i><strong>former position</strong></i></td>
        <td width=225><i><strong>current position</strong></i><p><br></td>
        <td width=0></td>
    </tr>

    {{ range .Data.Pages.ByParam "last_name" }}
    <tr valign="top">
        <td width=175></td>
        <td width=225>{{ .Params.first_name }} {{ .Params.last_name }}{{ if .Params.suffix }}, {{ .Params.suffix }}{{ end }}</td>
        <td width=225>{{ .Params.position }}<br></td>
        <td width=250>
            {{ if isset .Params "current_position" }}
            {{ range .Params.current_position }}
            {{ . }}<br>
            {{ end }}
            {{ end }}

            <img {{ replace .Params.email "@" "(at)"  | printf "src=https://scripps.edu/cgi-bin/cravatt/horiz_label.pl?text=%s&mode=email" | safeHTMLAttr }}><br>

            {{ with .Params.lab }}{{ if gt (len .text) 0 }}
            <a href="{{ .url }}">[{{ .text }}]</a>
            {{ end }}{{ end }}
            <p><br>
        </td>
        <td width=0></td>
    </tr>
    {{ end }}

</table>

<div class="last-updated">Last updated on November 16, 2019</div>

{{ end }}
